@use 'variables'
    
.about
    width: 100%
    padding: 2rem 0
    padding-bottom: 0
    display: flex
    background-color: #202020
    color: #FFF
    .container
        text-align: start
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        *
            font-size: 1.5rem
        h1
            margin-bottom: 2rem
            text-transform: uppercase
            text-align: center
            font-size: 2rem
        .about-text
            display: flex
            flex-direction: column
            font-size: 1.5rem
            span
            a
                background-color: variables.$Vermelho
                padding: .8rem 1.4rem
                text-transform: uppercase
                text-decoration: none
                color: #fff
                font-weight: 700
                border-radius: 10px
                font-size: 1.2rem
        .about-pilars
            .about-pilar-card
                margin-bottom: 1rem
                span
                    font-style: oblique
                    color: #e2e2e2
                    strong
                        text-transform: uppercase
                        font-size: 1.7rem
                        color: #fff
                        svg
                            position: relative
                            top: -3px
                            font-size: 2rem
                            color: variables.$Vermelho

        .line
            width: 90%
            height: 5px
            background-color: #fff
            margin: 1.5rem 0

        .cta
            background-color: variables.$Vermelho
            width: 100%
            margin: 1rem 0
            padding: 1rem .5rem
            font-size: 1.5rem
            display: flex
            flex-direction: column
            align-items: center
            height: fit-content
            text-align: center
            span
                font-size: 1.7rem
                margin-bottom: 1rem
                font-weight: 600
                text-transform: uppercase
            a
                background-color: variables.$Branco
                padding: .8rem 1.4rem
                text-transform: uppercase
                text-decoration: none
                color: variables.$Preto-puro
                font-weight: 700
                border-radius: 10px
                font-size: 1.2rem
        
        .about-values
            font-size: 1.5rem
            h1
                margin-top: 1rem
            span
                display: inline-block
                margin-bottom: 2rem
            .values-wrapper
                display: flex
                flex-wrap: wrap
                justify-content: center
                .value-card
                    span
                        font-style: oblique
                        color: #e2e2e2
                        strong
                            text-transform: uppercase
                            font-size: 1.7rem
                            color: #fff
                            svg
                                position: relative
                                top: -3px
                                font-size: 2rem
                                color: variables.$Vermelho

@media screen and ( min-width: 768px )
    .container
        text-align: center
    